dist
dist-ssr
www/
loader/
node_modules/
$RECYCLE.BIN/
/build
.svelte-kit
/package

*~
*.sw[mnpcod]
*.log
*.local
*.lock
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
log.txt
Thumbs.db
UserInterfaceState.xcuserstate

.env
.env.*
!.env.example
.stencil/
.idea/
.vscode/
.sass-cache/
.versions/
.vercel
.output
.DS_Store

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
